* {
  margin: 0;
  padding: 0;

}
body{
  height: 1000px;
}


.header {
  width: 100% ;
  height: 10px; 
 margin-top: 5px;
  z-index: 999;
 
}
.clear{
  clear: both;
}

.img1 {
  width: 150px;
  height: 60px ;
  margin-left: 150px;
  float: left;
}

.list {
  list-style-type: none ;
  float: right;
  margin-right: 150px;

}

.list   li {
    display: inline-block ;
    margin-left: 25px;
    color: #333;
    font-size: 22px;
    
}

.list  li  a {
  text-decoration: none ;
  color: #333; 
 
}


.list  li  a:hover {
  text-decoration: underline solid #029ca5  3px ;
  color: #029ca5;
  

 
 
}
button{
  color: white;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  padding: 13px 30px;
  border: 0;
  border-radius: 55px;
  text-transform: capitalize;
  line-height: 19px;
  margin-left: 70px;
  margin-top: 8px;
  text-align: center;
  background-color: #242f6c;


}



.div1 {
  width: 100%;
  height: 100vh;
  background-image: url(../../images/slide-1.jpg) ;
  position: relative;
  margin-top: 80px;

  
}

.overley {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba( 0,0 , 0, 0.6) ;
}

.content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%  , -50%  );
  text-align: center;
}
.title10 {
  color: #fff;
  font-size: 55px;
}

.p10 {
  color: #f0f0f0;
  letter-spacing: 2px ;
  margin: 15px  0px;
}


.Home,.About{
  position: relative;
  background-image: url(../images/bg.png);
  background-size: cover;
  /* margin-top: 70px; */
  
  }
  .img-home
  {
   
 
    margin-left: 50px;
    margin-bottom: 170px;
    float: right;
  
  }
  .content-home
  {
    position: absolute;
    top: 20%;
    right:50%;
    left: 5%;
 
  
  }
  .btn
{
  color: white;
  font-weight: 500;
  font-size: 20px;
  padding: 13px 30px;
  border: 0;
  border-radius: 55px;
  text-transform: capitalize;
  line-height: 19px;
  margin-left: 70px;
  margin-top: 8px;
  text-align: center;
  background-color: #029ca5;
  background-color: #242f6c;
  position: absolute;
  top: 50%;
  right:50%;
  left: 5%;
}
  .content-home h2{
    font-family: 'Conv_Now-Bold';
   font-size: 35px;
      line-height: 45px;
      color: #242f6c;
      font-weight: 700;
    display: inline-block;
  }
  .content-about h1{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #029ca5;
  }
  .content-home p{
    color: #777777;
    line-height: 1.8em;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 10px ;
  }
  
  .clear{
    clear: both;
  }
.About{
position: relative;
}
.img-about
{
  float: left;
  margin-top: 40px;
  margin-left: 20px;

}
.content-about
{
  position: absolute;
  top: 10%;
  left: 50%;
}
.content-about h2{
  font-family: 'Conv_Now-Bold';
 font-size: 35px;
    line-height: 45px;
    color: #242f6c;
    font-weight: 700;
  display: inline-block;
}
.content-about p{
  color: #777777;
  line-height: 1.8em;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 10px ;
  
 
}

.clear{
  clear: both;
}
.flt{
  float: left;
  margin-left: 110px;
  margin-top: 60px;
}

.img-pilarts
{
  background-color: #fcf4f5;
  border-radius: 50%;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
}
.img-pilarts img:hover{
  transform: scale(.8);
  transition: all .5s;
}
.content-pilarts
{
  font-family: 'Conv_Now-Bold';
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1;
  font-size: 20px;

}
.h2-Shahadah
{
  color:#029ca5;
}
.h2-Salah
{
  color: rgb(233, 104, 57);

}
.h2-Sawm
{
  color: #3b4ba1;

}
.h2-Zakah
{
  color: palevioletred;

}
.h2-Hajj
{
color: mediumseagreen;
}


.img-pilarts img{
  border-radius: 50%;
/* padding-top: 7px; */
   /* margin-top: 80px; */


}
.content-pilarts h2{
text-align: center;
}
.clear{
  clear: both;
}


.events
{
  margin-top: 125px;
}
.h-event{
  font-size: 50px;
  color:#242f6c ;
  text-align: center;
  margin: 30px 50px;
}
.about-event{
  float: left;
  /* background-color: #242f6c; */
  margin-left: 120px;
  margin-top: 10px;
 
}

.img-event{
  float: left;
  padding-right: 5px;
}
.cont-event
{
 
padding-left: 70px;
width: 90%;
position: relative;
}
.cont-event h3
{
  color: #242f6c ;
  margin-top: 22px;
  text-align: center;
}
.cont-event p
{
  color: #242f6c ;
  margin-top: 20px;
  text-align: center;
}
.time-event 
{
 padding: 5px;
 color: #242f6c ;
 position: absolute;
 bottom: -45%;
 left: 55%; 
}
.time-event span{
  margin-left: 3px;
}
/* //////////////////////////////////// */

.h-cources
{ 
  font-size: 50px;
  color:#242f6c ;
  text-align: center;
  margin: 30px 50px;
  margin-top: 200px;

}
.container {
  width: 90%;
  margin: auto;
}

.course-content {

}
.course-item {
  float: left;
  /* background-color: rgb(175, 174, 174); */
  width: 30%;
  padding: 14px  19px;
  text-align: center;
  position: relative;
}
.dd {
  margin: 0px  5%;
}

.course-item::after {
  position: absolute;
  content: "";

  width: 100% ;
  height: 0 ;

  bottom: 0;
  left: 0;

  background-color: rgb(14, 15, 14) ;

  background-color: #b0ddec;
  opacity: 0 ;
  transition: 1s;
}
.course-item:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}
.course-info-title
{
  color: #242f6c; ;
  margin-top: 25px;
  text-align: center;

}
.course-info-sp
{
  color: #777777;
  line-height: 1.8em;
  font-size: 16px;
  font-weight: 400;
}

.clear
{
  clear: both;
}

.total
{
  background-image: url(../images/slide-3.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 999;
  padding-bottom: 45px;
  opacity: .5;
  margin-top: 125px;

}

.flt-total{
  float: left;
  margin-left: 190px;
  margin-top: 60px;
  
  
}
.img-total i{
  color: white;
  font-size: 54px;
}
.content-total h2{
color: white;
margin-top: 15px;
font-size: 34px;

}
.clear{
  clear: both;
}






.grid {
  padding: 2% 0; 
}

.card {

  background-color: #e5e7f3;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  float: left;
  margin-left: 8%;
  padding: 40px;
 width: 17%;

}
.price
{
  margin-top: 110px;

}
.card_title {
  font-weight: 200px;
  font-size: 23px;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
  color: #242f6c;
}
.f-btn
{

margin-left: 27px;

}

.pricing  {
  font-weight: normal;
  
  border: 3px solid gray;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  padding: 8px;
  color: #242f6c;
 
  margin: auto;
}
.pricing .par
{
  padding-top: 6px;
  padding-left: 17px;
  font-size: 35px;

  
}
.pricing .small {
  font-size: 10px;
  padding-left: 16px;
}
hr {
  margin-top: 20px;
}

.features {
  margin: 30px ;
 
}

.features li {
  padding-bottom: 10px;
  color: #242f6c;
}

.hdr{
  color: #242f6c;
text-align: center;
font-size: 45px;
padding: 40px;


}

.clear
{
  clear: both;
}

.team{
  margin-top: 70px;
}
.team-container {
  width: 80%;
  margin: auto;

}


.team-info {
  color:#242f6c;
  font-size: 14px;
 
}


.team-info-span
{
  float: left;
  margin-left: 30px;
  word-spacing: 1px;
  
}
.ul-time
{
  
  font-size: 40px;
  columns: 3;
  width: 10px;
  margin: auto;

 
}
.ul-time .li1
{
  color:#777777;
}
.ul-time .li1:hover
{
  color: #029ca5;
 
}
.ul-time li
{   
 
  color: #029ca5;
 
}
.ul-time:hover li
{   
 
  color:#777777 ;
 
}
.h1-team
{
  text-align: center;
  color: #242f6c;
  font-size: 45px;
  padding: 40px;
 
}
.team-info-span span,i
{
 
padding-top: 22px;
font-size: 15px;
margin-left: 5px;
}
.team-item {
  float: left;
  width: 30%;
  text-align: center;
  position: relative;
   background: #ffffffdc;
  box-shadow: 0px 5px 15px 0px rgba(20, 20, 20, 0.08)
  
  
  
}

.admin-img
{
  border-radius: 50%;
  padding-left: 7px;
  margin-top: 7px;
}
.x
{ 
  padding-top: 12px;

}
.dd {
 padding-bottom: 20px;
 
}
.ddd {
  padding-top: 20px;
 }

.team-img {
  width: 100%;
  margin: auto;
  position: relative;
}
.team-img  img {
  width: 100%;
  
}
.team-overley {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0; 
  z-index: 99;
  transition: 1s ;  
  
    
}

.team-item:hover  .team-overley {
  opacity: .8 ;
  visibility: visible;
  
}

.team-overley  a {
  display: inline-block;
  color:#242f6c;
  font-size: 23px;
  margin-left: 15px;

  padding: 6px;
 
 

 
}
.team-overley  a  i  {
  line-height: 40px ;
 
}

.team-item::after {
  position: absolute;
  content: "";

  width: 20% ;
  height: 0% ;

  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  background-color: rgb(170, 183, 192) ;
  opacity: 0 ;
  transition: 1s;
}
.team-item:hover::after {
  width: 100%;
  height: 100%;
  opacity: 0.5 ;
}
.clear
{
  clear: both;
}
.footer
{
  background-color:#e5e7f3;
  padding: 3px 0;
  margin-top: 125px;
}
.foot-container {
  width: 80%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;

  
  
}
.foot-title
{
  float: left;
  width: 30%;
  margin-left: 35px;
}
.foot-title h2{
   color: #242f6c;
   font-size: 28px;
}
.p-foot
{
  line-height: 23px;
  word-spacing: 2px;
  padding:  16px;
  font-size: 18px;
  color: #777777;
}

.i-foot
{
  display: inline;

}
.i-foot i
{
  color:#029ca5;
  margin-left: 16px;
}
.clear
{
  clear: both;
}
